* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  list-style: none;
}

div {
  position: relative;
  z-index: 2;
}

body {
  background-color: lightblue;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box {
  border-radius: 16px;
  position: relative;
  margin: 8% auto auto auto;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.quote-text {
  text-align: center;
  width: 450px;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 1.75em;
}

.quote-author {
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
}

.buttons {
  width: 450px;
  margin: auto;
  display: block;
}

.button {
  height: 38px;
  border: none;
  border-radius: 3px;
  color: lightblue;
  outline: none;
  font-size: 0.85em;
  padding: 8px 10px 6px 18px;
  margin-top: 30px;
  opacity: 1;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

#tweet-quote {
  float: left;
  padding: 0px;
  padding-top: 8px;
  text-align: center;
  font-size: 2em;
  margin-right: 5px;
  height: 30px;
  width: 40px;
}

#new-quote {
  float: right;
}